{% extends './partials/wrapper.html' %} {% block content %}
<div class="col-sm-6 col-sm-offset-4">
	<div class="row" style="margin-top: 25px;">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Live Count of Births</h3>
				</div>
				<div class="panel-body">
					<h2 class="livecount">123567</h2>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Live Count of Deaths</h3>
				</div>
				<div class="panel-body">
					<h2 class="livecount">123567</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<img src="img\start.jpg" alt="" width="250" height="200"> {% endblock %}
